<?xml version="1.0" encoding="utf-8" ?>
<entityFramework>
  <contexts>
    <context type="$projectname$.Data.TscDbContext, $projectname$.Data">
      <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[$projectname$.Data.$projectname$DbContext, $projectname$.Data], [$projectname$.Data.Migrations.Configuration, $projectname$.Data]], EntityFramework" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>